*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    max-width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right bottom, #ffa585, #45c5d8);
    color: whitesmoke;

}

.container{
    border:  0.4px solid #ffff;
    border-radius: 8px;
    padding: 28px 32px;
    display:flex;
    flex-direction: column;
    background: transparent;
    box-shadow: 8px 8px 4px #909099 ,8px 8px 8px #575757;
}
